<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHF.PRO - Encurtador de Links</title>

    {% load static %} 

    <link rel="icon" href="{% static 'admin/img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/styles.css' %}">
</head>
<body class="container">

    <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'admin/img/img-logo.png' %}" alt="Imagem Logo">
    </a>
    
    <img class="img_home" src="{% static 'admin/img/img-home.png' %}" alt="Imagem Home">

    <h1 class="mt-5">Encurtador de Links</h1>
    <br>

    <h6 class="descricao_encurtador">
        Deixe de lado os <strong>links longos</strong> e abrace a eficiência! Com nosso encurtador, seus URLs <br>
        estarão prontos para brilhar em diversas plataformas como <strong>WhatsApp, YouTube, TikTok e Instagram</strong>.
    </h6>

    <form action="{% url 'encurtar' %}" method="post" class="mt-3 d-flex justify-content-between align-items-center">
        {% csrf_token %}
        <input type="url" name="url" id="url" class="form-control url-input mr-2" placeholder="Digite aqui a URL que deseja encurtar!" required>
        <button type="submit" class="btn btn-primary btn-encurtar">Encurtar</button>
    </form>

    {% if link_encurtado %}
    <div class="row separador">
        <div class="col-12 border"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <br>
            <p>
                <strong>Seu link é:</strong>
                <a id="linkEncurtado" href="http://127.0.0.1:8000/{{ link_encurtado }}" target="_blank" class="link-encurtado">
                    http://127.0.0.1:8000/{{ link_encurtado }}
                </a>
                <button id="btnCopiar" class="btn btn-primary ml-custom">Copiar</button>
            </p>
        </div>
    </div>
    {% endif %}

    {% if link_encurtado %}
    <br>
    <p class="link_anterior">{{ link_anterior }}</p>
    {% endif %}

    <footer class="d-flex justify-content-center">
        <p><strong><a href="https://www.instagram.com/xgustavohf/" target="_blank">GHF.PRO © 2024 - Todos os direitos reservados</a></strong></p> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="{% static 'admin/js/clipboard-setup.js' %}"></script>
</body>
</html>
