body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

.separador {
    margin-top: 20px;
}

#linkEncurtado {
    color: #007bff;
    text-decoration: none;
}

#btnCopiar {
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
}

#btnCopiar:hover {
    background-color: #218838;
}

.link_anterior {
    color: #dc3545;
    font-weight: bold;
}

.footer {
    margin-top: 20px;
    text-align: center;
}
